main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align everything to the left */
    gap: 5px; /* Add spacing between elements */
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.stats {
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 15px; /* Adjust spacing between stats */
}

.stats h3 {
    font-size: 16px;
    font-weight: normal;
}

.bio {
    font-size: 14px;
    color: gray;
    line-height: 1.4;
}